a {
	color: #003366;
}
a:visited {
	color: #0066cc;
}

#siteTitle {
	display: inline;
	font-family: "HelveticaNeue-CondensedBlack","Calibri","Arial", sans-serif;
	margin-left:40px;
}

#siteName a {
	font-size: 32pt;
	color: #262626;
	text-decoration:none;
}

#siteTagLine{
	font-size: 20pt;
	color: #262626;
	font-family: "Helvetica Neue", "Calibri Light", "Arial Narrow", sans-serif;
}

#welcomeBlock {
	float:left;
	margin-left:40px;
	margin-top:80px;
	margin-right: 120px;
	max-width:440px;
	font-family: "Helvetica Neue","Calibri","Arial",sans-serif;
	font-color: #262626;
}
#welcomeBlock h1 {
	font-family: "HelveticaNeue-CondensedBlack",sans-serif;
	display:inline;
	font-size: 24pt;
}
#welcomeMessage {
	font-size: 18pt;
	line-height:1.2;
	padding-bottom:20px;
}
#welcomeMessage p {
	margin-top: 0px;
	margin-bottom: 4px;
}

#welcomeBlock ul {
	display: inline;
	padding: 0px;
	font-size: 12pt;
	font-family: "HelveticaNeue-CondensedBold",sans-serif;
}
#welcomeBlock li {
	list-style-type:none;
	display:inline;
	padding-right: 10px;
	padding-left: 4px;
}
#welcomeBlock li a {
	color:#003399;
	text-decoration:none;
}
.headerImage {
	margin-top:40px;
	display:inline-block;
	max-width:400px;
	min-width:200px;

}
.headerImage img {
	max-width:100%;
	height:auto;
}

.welcomeSubsection {
	float:left;
	margin-left:40px;
	margin-right: 120px;
	max-width:440px;
	font-family: "Helvetica Neue","Calibri","Arial",sans-serif;
	font-color: #262626;
}
.welcomeSubsection h1 {
	font-family: "HelveticaNeue-CondensedBold",sans-serif;
	font-size:28pt;
	color:#262626;
}
.welcomeSubsection .blogPost h1 {
	font-family: "Helvetica Neue Light", "Calibri Light","Arial Narrow", sans-serif;
	font-size: 18pt;
	color: #262626;
	font-weight: bold;
	margin-bottom: 0px;
}
.welcomeSubsection .blogPost h1 a {
	color: #262626;
	text-decoration: none;
}
.welcomeSubsection .blogPost h1 a:hover {
	color: #444444;
	text-decoration: none;
}
.welcomeSubsection #followMeContainer ul {
	font-size:18pt;
	list-style-type:none;
	padding-left:0px;
}
.welcomeSubsection #followMeContainer a {
	color:#003399;
	text-decoration:none;
}

#header {
	position:relative;
}
#siteMenu {
	margin-left:40px;
	display:inline-block;
}
#siteMenu ul {
	display: inline;
	padding: 0px;
	font-size: 12pt;
	font-family: "HelveticaNeue-CondensedBold",sans-serif;
}
#siteMenu li {
	list-style-type:none;
	display:inline;
	padding-right: 10px;
	padding-left: 4px;
}
#siteMenu li a {
	color:#003399;
	text-decoration:none;
}

#mainContent h1 {
	font-family: "HelveticaNeue-CondensedBlack",sans-serif;
	display:inline;
	font-size: 24pt;
}

#mainContent {
	margin-left:40px;
	max-width:760px;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;

}
#mainContent p {
	line-height: 24px;
}


.blogPost {
	color: #111111;
	padding-bottom: 30px;
}
#mainContent .blogPost h1 {
	font-family: "Helvetica Neue Light", "Calibri Light","Arial Narrow", sans-serif;
	font-size: 18pt;
	color: #262626;
	font-weight: bold;
	margin-bottom: 0px;
}

#mainContent .blogPost h1 a {
	color: #262626;
	text-decoration: none;
}
#mainContent .blogPost h2 {
	font-family: "Helvetica Neue Light", "Calibri Light","Arial Narrow", sans-serif;
	font-size: 14pt;
	color: #262626;
	margin-bottom: 0px;
}
#mainContent .blogPost h1 a:hover {
	text-decoration: underline;
}

.blogPost table,td {
	border: 1px solid #d9d9d9;
}

a.more-link {
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}
a.more-link:hover {
	text-decoration: underline;
}
.entry-meta {
	font-family: "Helvetica Neue Light", "Calibri Light","Arial Narrow", sans-serif;
	font-size: 10pt;
	color: #666666;
}
.entry-meta a {
	text-decoration: none;
	color: #666666;
}
.entry-meta a:hover {
	text-decoration: underline;
}

.post-comments {
	padding-left: 30px;
}

.wp-caption {
	text-align: center;
	background: #ededed;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	margin-top: 5px;
}

.wp-caption p {
	font-family: "Helvetica Neue Light", "Calibri Light","Arial Narrow", sans-serif;
	font-size: 9pt;
	color: #444444;
	margin-bottom: 5px;
}


.alignright {
	float: right;
}


#comments h3 {
	font-family: "Helvetica Neue Light", "Calibri Light","Arial Narrow", sans-serif;
	font-size: 14pt;
	color: #333333;
	margin-bottom: 0px;
}

#comments #respond {
	background: #dedede;
}

#comments .form-allowed-tags {
	font-family: "Helvetica Neue", "Calibri","Arial", sans-serif;
	font-size: 10pt;	
}
.commentlist {
	list-style-type:none;
}
.comment {
	margin-bottom: 16px;
}

.comment-author img{
	margin-right: 8px;
	float:left;
}

.comment-meta {
	font-size: 8pt;
}
